

/* Custom CSS*/

.counter-button {
    -fx-background-radius: 5em !important;
    -fx-border-radius: 5em !important;
    -fx-max-width: 24px;
    -fx-min-width: 24px;
    -fx-max-height: 24px;
    -fx-min-height: 24px;
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 26px;
}

.counter-button:hover{
    -fx-cursor: hand;
}

.plus-button{
    -fx-background-image: url(images/add.png);

}

.minus-button{
    -fx-background-image: url(images/remove.png);

}

.lifeBar .bar {
    -fx-background-color: #D50000;
}

.manaBar .bar {
    -fx-background-color: #2962FF;
}

.title {
    -fx-font-size: 24px;
}

.dice {
    -fx-text-fill: transparent;
    -fx-pref-height: 48 !important;
    -fx-pref-width: 48 !important;
    -fx-background-color: #201F1F;
    -fx-background-size: 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.dice:thrown {
    -fx-background-radius: 5em !important;
    -fx-border-radius: 5em !important;
}

.diceResult {
    -fx-padding: 0 0 0 16;
}

.dragLabel:hover {
    -fx-cursor: hand;
}

.dropLabel,.dragLabel {
    -fx-background-color: #2D2C2C;
    -fx-text-fill: #C8C6C4;
    -fx-background-radius: 5px;
    -fx-padding: 12px;
}

.dice4{
    -fx-background-image: url(images/4.png);
}

.dice6{
    -fx-background-image: url(images/6.png);
}

.dice8{
    -fx-background-image: url(images/8.png);
}

.dice10{
    -fx-background-image: url(images/10.png);
}

.dice12{
    -fx-background-image: url(images/12.png);
}

.dice20{
    -fx-background-image: url(images/20.png);
}

.dice100{
    -fx-background-image: url(images/100.png);
}


